<div class="container mx-auto">
  <nav class="flex flex-row items-center justify-between px-5 py-3 bg-white">
    <h2 class="text-lime-900 font-semibold text-lg">Store Front</h2>
    <div
      class="flex items-center justify-end gap-5 text-sm font-normal divide-x"
    >
      <a routerLink="/" class="py-2 px-3 hover:bg-gray-300"> Home </a>
      <a routerLink="/store" class="py-2 px-3 hover:bg-gray-300"> Store </a>
      <a
        routerLink="/cart"
        [matBadge]="cartItemsCount$ | async"
        class="py-2 px-3 hover:bg-gray-300"
      >
        Cart</a
      >
    </div>
  </nav>

  <main class="container mx-auto">
    <router-outlet />
  </main>
</div>
