<div class="container mx-auto">
  <nav
    class="flex flex-row items-center justify-between px-5 py-3 bg-white mb-2"
  >
    <a routerLink="/">
      <h2 class="text-lime-700 font-semibold text-lg">Store Front</h2>
    </a>
    <div
      class="flex items-center justify-end gap-5 text-sm font-normal divide-x"
    >
      <a
        routerLink="/"
        routerLinkActive="!text-lime-600 font-semibold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="py-2 px-3 hover:bg-gray-300"
      >
        Home
      </a>
      <a
        routerLink="/store"
        routerLinkActive="!text-lime-700 font-semibold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="py-2 px-3 hover:bg-gray-300 active:bg-gray-300"
      >
        Store
      </a>
      <a
        routerLink="/cart"
        routerLinkActive="!text-lime-700 font-semibold"
        [routerLinkActiveOptions]="{ exact: true }"
        [matBadge]="cartItemsCount$ | async"
        class="py-2 px-3 hover:bg-gray-300"
      >
        Cart</a
      >
    </div>
  </nav>

  <main class="container mx-auto px-5">
    <router-outlet />
  </main>
</div>
