@if (product) {
  <div class="overflow-hidden relative">
    <a
      routerLink="/products/{{ product.id }}"
      class="w-full h-full bg-green-500"
    >
      <div class="">
        <img
          [src]="product.thumbnail"
          alt="product.title"
          class="object-cover h-60 w-full"
        />
      </div>
      <div class="flex flex-col items-start p-5">
        <div
          class="flex flex-row items-center justify-between mb-3 self-stretch"
        >
          <span class="text-xl font-semibold text-lime-700">{{
            product.price | currency
          }}</span>
        </div>
        <span class="text-sm font-bold mb-1">{{ product.title }}</span>

        <span class="text-slate-400 text-sm">{{ product.description }}</span>

        <span class="text-xs text-slate-400 bg-gray-300 p-1 px-1 rounded">{{
          product.brand
        }}</span>
      </div>
    </a>
  </div>

  <button
    mat-icon-button
    matTooltip="Add to Cart"
    type="button"
    class="!text-white !z-50 !absolute !bottom-2 !right-2"
    (click)="onAddToCart(product)"
  >
    <mat-icon class="text-lime-700">add_shopping_cart</mat-icon>
  </button>
}
