<div class="relative bg-lime-50 w-full min-h-96 overflow-hidden">
  @for (
    product of featuredProducts$ | async;
    track product.id;
    let idx = $index
  ) {
    <app-product-details
      [class.hidden]="idx != selectedSlide"
      [product]="product"
      (addToCart)="addToCart($event)"
      @slideAnimation
    />
  }

  <button
    type="button"
    mat-icon-button
    class="!absolute !top-1/2 !-translate-y-1/2 z-10"
    (click)="onPrevious()"
  >
    <mat-icon class="scale-150">chevron_left</mat-icon>
  </button>
  <button
    type="button"
    mat-icon-button
    class="!absolute !top-1/2 !right-0 !-translate-y-1/2 z-10"
    (click)="onNext()"
  >
    <mat-icon class="scale-150">chevron_right</mat-icon>
  </button>
</div>
